Backgrounds/
Images/
Notes/
OpenSong Scripture/
Pads/
Profiles/
Scripture/
Sets/
Slides/
Variations/
searchindexlog.txt
Songs/.DS_Store
Songs/.idea/inspectionProfiles/Project_Default.xml
Songs/.idea/misc.xml
Songs/.idea/modules.xml
Songs/.idea/Songs.iml
Songs/.idea/vcs.xml
Songs/.idea/workspace.xml
Songs/Mládež/.DS_Store
